<?php
/**
 * Your license or something other here.
 *
 * @package  {NAMESPACE}
 */
namespace {NAMESPACE};
use net\stubbles\console\ConsoleApp;
/**
 * Your own console app.
 */
class {CLASS} extends ConsoleApp
{
    /**
     * returns list of bindings used for this application
     *
     * @param   string  $projectPath
     * @return  \net\stubbles\ioc\module\BindingModule[]
     */
    public static function __bindings($projectPath)
    {
        return array(self::createArgumentsBindingModule(),
                     self::createConsoleBindingModule(),
                     self::createPropertiesBindingModule($projectPath)
        );
    }

    /**
     * constructor
     *
     * @Inject
     */
    public function __construct()
    {
        // TODO add your constructor parameters and code
    }

    /**
     * runs the command and returns an exit code
     *
     * @return  int
     */
    public function run()
    {
        // TODO add your application code
        return 0;
    }
}
