#!/usr/bin/php
<?php
/**
 * Script to execute {NAMESPACE}\{CLASS}.
 *
 * @package  {NAMESPACE}
 */
namespace {NAMESPACE};
if (file_exists(__DIR__ . '/../vendor/autoload.php')) {
    $rootDir = __DIR__ . '/../';
} else {
    $rootDir = __DIR__ . '/../../../../';
}

require $rootDir . '/vendor/autoload.php';
exit({CLASS}::main($rootDir, \net\stubbles\console\ConsoleOutputStream::forError()));
?>