#!/usr/bin/php
<?php
/**
 * Script to execute {NAMESPACE}\{CLASS}.
 *
 * @package  {NAMESPACE}
 */
namespace {NAMESPACE};
require __DIR__ . '/../bootstrap.php';
exit({CLASS}::main(\net\stubbles\Bootstrap::getRootPath(), \net\stubbles\console\ConsoleOutputStream::forError()));
?>