#!/usr/bin/php
<?php
/**
 * Script to execute {NAMESPACE}\{CLASS}.
 *
 * @package  {NAMESPACE}
 */
namespace {NAMESPACE};
require __DIR__ . '/../vendor/.composer/autoload.php';
exit({CLASS}::main(__DIR__ . '/../', \net\stubbles\console\ConsoleOutputStream::forError()));
?>